# Data
data/raw/
data/processed/
tata_1mg_Medicine_data.csv

# Model artifacts
models/*.pkl

# Logs
logs/

# MLflow
mlruns/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.egg-info/